.task {
  margin: 0 0 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.task-item {
  background-color: #ececec;
  color: #333;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  transition: background-color 0.15s ease;

  &:hover {
    background-color: #dcdcdc;
  }
}

.selected {
  background: #ecfdf3;
  border-left: 4px solid #22c55e;
}
