<main class="todo-container">
  <section class="card">
    <h1>{{ title }}</h1>
    <app-todo-list
      [taskList]="taskList()"
      [(selectedItemId)]="selectedItemId"
      (removeTask)="removeTask($event)"
      (updateTask)="updateTask($event.id, $event.text)"
    />
    <form class="task-form">
      <input matInput placeholder="Enter task title" type="text" [formField]="taskForm.text" />
      <div>
        <label for="description">Описание:</label>
        <textarea
          id="description"
          placeholder="Enter task description"
          [value]="task().description?.trim() ?? ''"
          (input)="updateDescription($event)"
        ></textarea>
      </div>
      <ui-button
        title="Add task"
        [appearance]="'primary'"
        [disabled]="taskForm.text().invalid()"
        (click)="addTask()"
      >
        Add task
      </ui-button>
    </form>
  </section>
  <aside class="task-details">{{ selectedTask()?.description }}</aside>
</main>
