<main class="todo-container">
  <aside class="task-details">
    @if (selectedTask(); as selected) {
      <h2>{{ selected.text }}</h2>
      <p>{{ selected.description || 'Описание не указано' }}</p>
      <label>
        <input
          #statusCheckbox
          type="checkbox"
          [checked]="selected.status === TaskStatus.Completed"
          (change)="updateTaskStatus(selected.id, statusCheckbox.checked)"
        />
        Выполнена
      </label>
    } @else {
      <p>Выберите задачу из списка</p>
    }
  </aside>
  <section class="card">
    <h1>{{ title }}</h1>
    <app-todo-list
      [taskList]="taskList()"
      [(selectedItemId)]="selectedItemId"
      (removeTask)="removeTask($event)"
      (updateTask)="updateTask($event.id, $event.text)"
    />
    <form class="task-form">
      <input matInput placeholder="Enter task title" type="text" [formField]="taskForm.text" />
      <div>
        <label for="description">Описание:</label>
        <textarea
          id="description"
          placeholder="Enter task description"
          [value]="task().description?.trim() ?? ''"
          (input)="updateDescription($event)"
        ></textarea>
      </div>
      <ui-button
        title="Add task"
        [appearance]="'primary'"
        [disabled]="taskForm.text().invalid()"
        (click)="addTask()"
      >
        Add task
      </ui-button>
    </form>
  </section>
</main>
