.button {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

.button[disabled] {
  opacity: 0.5;
}

.button--primary {
  background-color: #125207;
}


.button--primary-destructive {
  background-color: #ff0000;
}
