@if (isEditing()) {
  <input
    #editInput
    aria-label="Название задачи"
    [value]="editValue()"
    [disabled]="isDisabled()"
    (input)="onInput($event)"
  />

  <ui-button
    title="Save"
    [appearance]="'primary'"
    [disabled]="isDisabled() || editValue().trim().length === 0"
    (click)="saveEdit()"
  >
    {{ isSaving() ? 'Saving...' : 'Save' }}
  </ui-button>
} @else {
  <span (dblclick)="startEdit()">{{ task().name }}</span>
}

<ui-button
  class="delete-button"
  [appearance]="'primary-destructive'"
  [title]="'Удалить задачу'"
  [disabled]="isDisabled()"
  (click)="removeTaskRequest.emit(task().id)"
>
  {{ isDeleting() ? 'Удаляем...' : 'Удалить задачу' }}
</ui-button>
